<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset='utf-8'>
		<title>MESCyT - Inicio</title>
		<link rel="icon" href="DR.png">
	</head>
	<body bgcolor="#235288">
		
		<center><img src="MESCyT.jpeg" height="255" /></center>
		<link href="style.css" rel='stylesheet' >
		<ul align="center">
			
			<li><a href="home.html">Inicio</a></li>
			
			<li><a href="acceso.html">Acceso</a></li>

			<li><a>Eventos</a>
				<ul>
					<li><a  href="conferencia.html">Conferencias</a></li>
					<li><a href="registroevento.html">Registrar Eventos</a></li>
					<li><a href="estadisticas.html">Estadísticas</a></li>
					
					
				</ul>
			</li>
			
			<li><a>Información</a>
				<ul>
					<li><a href="contacto.html">Contactos</a></li>
					
				</ul>
			</li>

		</ul>

		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />

		<br />
		<br />
		
		<h1 align="center">Bienvenidos a la Página Web del Ministerio de Educación Superior, Ciencia y Tecnología </h1>
		

		
	</body>
</html>