<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset='utf-8'>
		<title>MESCyT - Recuperación</title>
		<link rel="icon" href="DR.png">
	</head>
	<body bgcolor="#235288">
		
		<center><img src="MESCyT.jpeg" height="255" /></center>
		
		<link href="style.css" rel='stylesheet' >
		
		<ul>
			
			<li><a href="home.html">Inicio</a></li>
			
			<li><a href="acceso.html">Acceso</a></li>

			<li><a>Información</a>
				<ul>
					<li><a>Conferencias</a></li>
					<li><a>Estadísticas</a></li>
					<li><a>Contactos</a></li>
					
				</ul>
			</li>

		</ul>

		<br />
		<br />
		<br />
		<br />
		<h1 align="center">Registro de Nueva Cuenta</h1>
		<br />
		<br />
			
		<h4>Ingrese sus datos correspondientes para tener una cuenta</h4>

		<br />
		<label for="Name">Nombre</label>
		<input type="text" name="name">

		<br />
		<br />
		<label for="LastName">Apellido</label>
		<input type="text" name="lastname">

		<br />
		<br />
		<label for="ID">Cédula</label>
		<input type="text" name="id">

		<br />
		<br />
		<label for="Phone">Teléfono</label>
		<input type="text" name="phone">

		<br />
		<br />
		<label for="Institute">Afiliación o Institución</label>
		<input type="text" name="Institute">

		<br />
		<br />
		<label for="Email">Correo Electrónico</label>
		<input type="text" name="email">

		<br />
		<br />
		<label for="Password">Contraseña</label>
		<input type="text" name="password">
		

		<br />
		<br />
		<br />
		
		
		
		
		<form action="registrado.html">
		<input type="submit" value="Registrar">
		</form>
		<br />
		<form action="acceso.html">
		<input type="submit" value="Cancelar">
		</form>
		<br />
		
		
	</body>
</html>